bin/
Demo/
obj/
TestResults/
octopusdeploy.properties
*.csproj.user
*.rgproj.user
*.DotSettings.user
*.suo
*.orig
*.bak
*.debug.config
*.bat
*.cmd
*.md
.ntvs_analysis.dat
_ReSharper.*/
_Chutzpah*
/Proquote.TechnologyPlatform/*.vsmdi
logfiles/
nlog.config
packages/
node_modules/
*.user
*.sln.DotSettings

